@import url('<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">');
@import './typography.scss';
html,body,#app{
    font-family: 'Open Sans', sans-serif;
}
#app{
    .x-pad{
        padding-left:5rem;
        padding-right:5rem;
      }
      .xy-pad{
        padding:3rem 5rem;
      }

      h1,h2,h3,h4,h5,h6,p{
          margin-bottom:0;
      }
    ul{
        padding-left:0;
        margin-bottom:0;
        li{
            list-style: none;
        }
    }
    a{
        color:inherit;
        &:hover{
            text-decoration: none;
            color:inherit;
        }
    }

}